.todoform {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.modernInput {
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
}

.modernInput:focus {
  outline: none;
}
.addButton {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: #f7ca18;
  margin-top: 8px;
  padding: 0.65rem 1.4rem;
  cursor: pointer;
}

.container {
  display: flex;
}
